In [3]:
import warnings

warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import PercentFormatter

plt.rcParams.update({ "figure.figsize" : (8, 5),"axes.facecolor" : "white", "axes.edgecolor":  "black"})
plt.rcParams["figure.facecolor"]= "w"
pd.plotting.register_matplotlib_converters()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [15]:
df = pd.read_csv('./data/eda.csv')

#converting to proper datetime format
df.date = pd.to_datetime(df.date)
df['date'].head(20)

# # Create new column for year
df['year'] = df.date.dt.year

# # Create new column for year-month
df['year_month'] = df['date'].dt.strftime('%Y-%m')
df['month'] = df['date'].dt.strftime('%b')

print(df.head(10))

           id  bedrooms  bathrooms  sqft_living   sqft_lot  floors  \
0  7129300520     3.000      1.000     1180.000   5650.000   1.000
1  6414100192     3.000      2.250     2570.000   7242.000   2.000
2  5631500400     2.000      1.000      770.000  10000.000   1.000
3  2487200875     4.000      3.000     1960.000   5000.000   1.000
4  1954400510     3.000      2.000     1680.000   8080.000   1.000
5  7237550310     4.000      4.500     5420.000 101930.000   1.000
6  1321400060     3.000      2.250     1715.000   6819.000   2.000
7  2008000270     3.000      1.500     1060.000   9711.000   1.000
8  2414600126     3.000      1.000     1780.000   7470.000   1.000
9  3793500160     3.000      2.500     1890.000   6560.000   2.000

   waterfront  view  condition  grade  ...     long  sqft_living15  \
0         NaN 0.000          3      7  ... -122.257       1340.000
1       0.000 0.000          3      7  ... -122.319       1690.000
2       0.000 0.000          3      6  ... -122.233       2720.000
3       0.000 0.000          5      7  ... -122.393       1360.000
4       0.000 0.000          3      8  ... -122.045       1800.000
5       0.000 0.000          3     11  ... -122.005       4760.000
6       0.000 0.000          3      7  ... -122.327       2238.000
7       0.000   NaN          3      7  ... -122.315       1650.000
8       0.000 0.000          3      7  ... -122.337       1780.000
9       0.000 0.000          3      7  ... -122.031       2390.000

   sqft_lot15       date       price    house_id  id.1  year  year_month month
0    5650.000 2014-10-13  221900.000  7129300520     1  2014     2014-10   Oct
1    7639.000 2014-12-09  538000.000  6414100192     2  2014     2014-12   Dec
2    8062.000 2015-02-25  180000.000  5631500400     3  2015     2015-02   Feb
3    5000.000 2014-12-09  604000.000  2487200875     4  2014     2014-12   Dec
4    7503.000 2015-02-18  510000.000  1954400510     5  2015     2015-02   Feb
5  101930.000 2014-05-12 1230000.000  7237550310     6  2014     2014-05   May
6    6819.000 2014-06-27  257500.000  1321400060     7  2014     2014-06   Jun
7    9711.000 2015-01-15  291850.000  2008000270     8  2015     2015-01   Jan
8    8113.000 2015-04-15  229500.000  2414600126     9  2015     2015-04   Apr
9    7570.000 2015-03-12  323000.000  3793500160    10  2015     2015-03   Mar

[10 rows x 26 columns]